name: Unit test for Fexios
on:
  push:
    branches: [master, dev, actions]
  pull_request:
    branches: [master, dev, actions]
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Test on multiple Node.js versions that support fetch
    strategy:
      matrix:
        node-version: ['lts/*', 'latest']

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: false

      - name: Set Node Version ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Playwright browsers and OS deps
        run: pnpm run playwright:install-with-deps

      - name: Run build
        run: |
          pnpm run build

      - name: Run tests
        run: |
          pnpm run test
